.link-underline {
  @apply relative;
}
.hover-underline::after {
  content: "";
  transform: scaleX(0);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  @apply w-full h-1 absolute bottom-0 left-0 border-b border-orange-400;
}
.hover-underline:hover::after {
  transform: scale(1);
}
.focus-underline::after{
  content: "";
  @apply w-full h-1 absolute bottom-0 left-0 border-b border-orange-400;
}
