@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-l from-gray-200 to-gray-50;
  font-family: "Nunito", sans-serif;
}

Scrollbar *::-webkit-scrollbar-track {
  @apply border border-gray-800 bg-gray-100;
}
*::-webkit-scrollbar {
  width: 5px;
  @apply bg-gray-800;
}
*::-webkit-scrollbar-thumb {
  @apply bg-orange-400 rounded-full;
}
